.text-white * {
  color: white;
}

.text-white a:hover {
  color: white;
}

.text-accent,
a {
  color: var(--accent-quinary);
}

.text-accent-secondary {
  color: var(--accent-secondary);
}

.text-accent-tertiary {
  color: var(--accent-tertiary);
}

.text-accent-septenary {
  color: var(--accent-septenary);
}

.text-gray {
  color: #585556;
}

.text-shadow {
  text-shadow: 1px 1px 3px black;
}

.text-black {
  color: black;
}

a.text-black:hover {
  color: black;
}

.lh-1 {
  line-height: 1;
}

.ls-1 {
  letter-spacing: 1em;
}

.nowrap {
  white-space: nowrap;
}

.wp-block-quote {
  border-left: 2px solid;
  margin: 0 0 1.75em;
  padding-left: 1em;
  font-style: italic;
  font-size: 18px;
}

html,
body {
  font-family: work-sans, sans-serif;
}

.light {
  font-family: "proxima_nova_altlight";
}

.thin {
  font-family: "proxima_novathin";
}

.bold,
strong {
  font-family: work-sans, sans-serif;
  font-weight: 700;
}

blockquote {
  font-size: 90%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: rubik, sans-serif;
}

h1.bold,
h2.bold,
h3.bold,
h4.bold,
h5.bold,
h6.bold,
.h1.bold,
.h2.bold,
.h3.bold,
.h4.bold,
.h5.bold,
.h6.bold {
  font-weight: 800;
  font-family: rubik, sans-serif;
}

@media only screen and (max-width:767px) {
  h1 {
    font-size: 2.5rem !important;
  }
}

/* Rubik Regular
font-family: rubik, sans-serif;
font-weight: 400;
font-style: normal;

Rubik Italic
font-family: rubik, sans-serif;
font-weight: 400;
font-style: italic;

Rubik Bold
font-family: rubik, sans-serif;
font-weight: 700;
font-style: normal;

Rubik Bold Italic
font-family: rubik, sans-serif;
font-weight: 700;
font-style: italic; 

Work Sans
font-family: work-sans, sans-serif;
*/